@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

body {
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

#vertical{
    position:absolute;
    font-family: 'Open Sans', Arial, Sans Serif;
    top:40%;    
    left:0;
    width:100%;
  	text-align: center;
    color: #ffffff;
}